@use "../../placeholders/Base";
@use "../../variables/Colors" as var;

header {
  @extend %base;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  z-index: 2;
  background-color: var.$secundary-bg-color;
}
