@use "./variables/_Colors.scss" as var;
@use "./placeholders/_Base.scss" as *;
@use "./placeholders/_Img.scss" as *;
@use "./style/_Fonts.scss" as *;

#root {
    position: relative;
    @extend %base;
    @extend %img;

}
body {
    @extend %base;
    @extend %img;
    background-color: var.$primary-color;
    margin: 0 auto;
}